services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fast-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app

  ngrok:
    image: ngrok/ngrok:latest
    restart: unless-stopped
    depends_on:
      - app
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - 4041:4040
      