version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: angelbot/backend:0.1.0
    container_name: fast-api
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:8.2.2
    container_name: redis_local
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok
    restart: unless-stopped
    depends_on:
      - app
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
    ports:
      - "4041:4040"

volumes:
  redis_data:
